
/* Sidebar */
.sidebar{
position:fixed;
left:0;
top:0;
width:270px;
height:100vh;
background:#111827;
padding:25px;
box-sizing:border-box;
color:white;
}

.sidebar h2{
color:#2563eb;
font-size:28px;
margin-bottom:45px;
}

.sidebar a{
display:block;
padding:15px;
margin:12px 0;
border-radius:8px;
color:white;
text-decoration:none;
font-size:17px;
transition:.3s;
}

.sidebar a:hover{
background:#374151;
transform:translateX(8px);
}

.sidebar .active{
background:#2563eb;
}


