<!DOCTYPE html>
<html>

<head>
    <title>Transpera Login</title>

    <link rel="stylesheet" href="/css/login.css">
</head>

<body>

    <div class="login-container">

        <h1>Login</h1>

        <form action="/login" method="post">

            <label>Username:</label>
            <input type="text" name="username" placeholder="Enter your username" required>

            <label>Password:</label>
            <input type="password" id="password" name="password" placeholder="Enter your password"
                pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{12,}" required>

            <input type="checkbox" onclick="togglePassword()" id="showPassword">
            Show Password

            <br><br>

            <input type="checkbox" name="remember">
            Remember Me

            <br><br>

            <button type="submit" class="login-btn">
                Login
            </button>

        </form>

        <div class="register-link">
            New User?
            <a href="/register">Register Here</a>
        </div>

    </div>
   <script>
        function togglePassword() {
            var passwordField = document.getElementById("password");
            if (passwordField.type === "password") {
                passwordField.type = "text";
            } else {
                passwordField.type = "password";
            }
        }
    </script>
</body>

</html>